@font-face {
    font-family: 'happy';
    src: url(../fonts/Lf.otf);
}
#full{
    font-family: 'happy';
    font-size: 33.3px;
}
#hip{
    font-family: 'happy';
    font-size: 80px;
    text-align: center;
}