@font-face {
    font-family: 'happy';
    src: url(../fonts/Lf.otf);
}
#full{
    font-family: 'happy';
    font-size: 33.3px;
}
#hip{
    font-family: 'happy';
    font-size: 86px;
    text-align: center;
}
#burn{
    font-family: 'happy';
    font-size: 64px;
}
#con{
    font-family: 'happy';
    font-size: 48px;
}
#dis{
    font-family: 'happy';
    font-size: 30px;
    color: white;
}
