:root{
    --container-color: rgba(67, 141, 184, 0.6);
    --hoover-color: rgb(168, 139, 235, 0.6);
    --background-color: rgb(255, 246, 213);
    --text-color: rgb(255, 255, 255);
}

*{
    padding: 0;
    margin: 0;
}

ul{
    list-style: none;
}

body{
    background: url("../img/helado.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
}
nav{
    line-height: 15px;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    background-color: var(--container-color);
}

.Principales > li{
    float: left;
}

.BN-D{
    margin-left: auto;
}

.link{
    padding: 20px;
    color: var(--text-color);
    display: block;
}

.sub-link{
    display: none;
    position: absolute;
}

.subL{
    padding: 15px;
    color: var(--text-color);
    background-color: var(--container-color);
    width: 112px;
}

.subL:hover{
    background-color: var(--hoover-color);
    color: white;
    animation: shadow-pulse 1200ms 1;
}

.link:hover{
    background-color: var(--hoover-color);
    color: white;
    animation: shadow-pulse 1200ms 1;
}

.link:hover ~ .sub-link{
    display: block;
}

.sub-link:hover{
    display: block;
}
.container{
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.inform{
    margin: 20px;
    text-align: center;
    color:  rgb(226, 244, 255);
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
i{
    transition: .3s ease;
}
#hip{
    animation: raibonw 2500ms alternate-reverse infinite;
}
#burn{
    animation: raibonws 2500ms alternate-reverse infinite;
}
#facebook{
    border-radius: 10%;
    color: white;
}
#facebook:hover{
    cursor: pointer;
    color: rgb(75, 134, 211);
    transform: translateY(-6px);
    animation: shadow-pulsef 1000ms 1;
}
#instagram{
    color: white
}
#instagram:hover{
    cursor: pointer;
    color: rgb(171, 107, 223);
    transform: translateY(-6px);
    animation: rotate 1000ms 1;
}
#correo{
    color: white;
}
#correo:hover{
    cursor: pointer;
    color: rgb(221, 113, 113);
    transform: translateY(-6px);
    animation: shadow-pulsec 1000ms 1;
}
#twitter{
    color:white
}
#twitter:hover{
    cursor: pointer;
    color: rgb(71, 181, 255);
    transform: translateY(-6px);
    animation: shadow-pulset 1000ms 1;
}
.redes-sociales{
    display: flex;
    justify-content: center;
}
.redes-sociales ul li{
    display: inline-block;
    text-align: center;
    margin: 0 5px;
    width: 50px;
    height: 50px;
}
img{
    border-radius: 10%;
    border:5px solid rgb(46, 28, 14) ;
    opacity: 90%;
}
footer{
    color: white;
    margin-top: 30px;
    padding: 30px;
    background-color: rgb(95, 95, 95);
}
@keyframes shadow-pulse {
    0%{
        box-shadow: 0 0 0 0 rgba(203, 185, 245, 0.9);
    }
    100%{
        box-shadow: 0 0 16px 24px rgba(57, 132, 182, 0);
    }
}
@keyframes shadow-pulsef {
    0%{
        box-shadow: 0 0 0 0 rgba(71, 165, 219, 0.9);
    }
    100%{
        box-shadow: 0 0 16px 24px rgba(57, 132, 182, 0);
    }
}
@keyframes shadow-pulsec {
    0%{
        box-shadow: 0 0 0 0 rgba(219, 71, 71, 0.9);
    }
    100%{
        box-shadow: 0 0 16px 24px rgba(57, 132, 182, 0);
    }
}
@keyframes shadow-pulset {
    0%{
        box-shadow: 0 0 0 0 rgba(71, 181, 255, 0.9);
    }
    100%{
        box-shadow: 0 0 16px 24px rgba(57, 132, 182, 0);
    }
}
@keyframes raibonw {
    0%{
        color: rgb(176, 239, 255);
    }
    100%{
        color: rgb(255, 255, 255);
    }
}
@keyframes raibonws {
    0%{
        color: rgb(198, 255, 176);
    }
    100%{
        color: rgb(255, 255, 255);
    }
}
@keyframes rotate {
    0%{
        filter: hue-rotate(0deg);
        box-shadow: 0 0 0 0 rgba(171, 107, 223, 0.9);  
    }
    100%{
        filter: hue-rotate(360deg);
        box-shadow: 0 0 16px 24px rgba(57, 132, 182, 0);

    }
}

