:root{
    --text: rgb(255, 255, 255);
}

.body-container{
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
}

@font-face {
    font-family: 'happy';
    src: url(../fonts/Lf.otf);
}

h1{
    font-family:'happy';
    font-size: 50px;
    color: rgb(67, 141, 184);
    font-weight: bold;
    font-style: italic;
    display: block;
    text-align: center;
    padding: 20px;
}

label{
    font-family: 'happy';
    font-size: 30px;
    font-weight: bold;
    color: var(--text);
    display: block;
    padding-bottom: 5px;
}

.column-wrapper{
    margin: 20px;
}

.column-wrapper-boton{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.row-wrapper{
    display: list-item;
    align-items: center;
    list-style: none;
}

.answer{
    margin-top: 5px;
    width: 250px;
    height: 15px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    background-color:rgba(240, 248, 255, 0);
    border-top: 0;
    border-right: 0;
    border-bottom: 2px rgb(255, 255, 255);
    border-left: 2px rgb(255, 255, 255);
    border-style: solid;
    float: right;
    background-color: rgba(67, 141, 184, 0.418);
    color: aliceblue;
}

.error{
    border: none;
    width: 250px;
    background: none;
    color: red;
    height: 15px;
}

.escribir{
    display: inline-block;
}

.icon{
    color: rgb(255, 255, 255);
    border: 0;
    border-bottom: 2px rgb(255, 255, 255);
    border-style: solid;
    width:fit-content;
    height: 20px;
    padding: 5px;
    font-size: 20px;
    float: left;
}

a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.container-boton{
    text-align: center;
}

.boton{
    padding: 10px;
    background-color: rgba(67, 141, 184, 0.6);
    cursor: pointer;
    border: 0;
    box-shadow: 2px 2px 1px rgba(67, 141, 184, 0.267);
    font-size: 20px;
    font-family: 'happy', sans-serif;
    color: rgb(255, 255, 255);
    border-radius: 10px;
}

.boton:hover{
    box-shadow: 2px 2px 1px rgba(168, 139, 235, 0.144);
    background-color: rgb(168, 139, 235, 0.6);
}

@media (min-width: 800px) {
    .column-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .row-wrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .column-wrapper-boton{
        display: flex;
        flex-direction: column;
    }
}