:root{
    --container-color: rgba(33, 97, 150, 0.6);
    --hoover-color: rgb(134, 113, 172, 0.6);
    --background-color: rgb(255, 246, 213);
    --text-color: rgb(255, 255, 255);
}

*{
    padding: 0;
    margin: 0;
}

ul{
    list-style: none;
}

body{
    background: url("../img/helado.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
}

nav{
    display: flex;
    background-color: var(--container-color);
}

.Principales > li{
    float: left;
}

.BN-D{
    margin-left: auto;
}

.link{
    padding: 20px;
    color: var(--text-color);
    font-family:Vegur, 'PT Sans', Verdana, sans-serif;
    font-size: 18px;
    display: block;
    font-weight: bold;
}

.sub-link{
    display: none;
    position: absolute;
}

.subL{
    padding: 15px;
    color: var(--text-color);
    background-color: var(--container-color);
    font-family:Vegur, 'PT Sans', Verdana, sans-serif;
    font-size: 15px;
    font-weight: bold;
    width: 112px;
}

.subL:hover{
    background-color: var(--hoover-color);
    color: white;
    animation: shadow-pulse 1200ms 1;
}

.link:hover{
    background-color: var(--hoover-color);
    color: white;
    animation: shadow-pulse 1200ms 1;
}

.link:hover ~ .sub-link{
    display: block;
}

.sub-link:hover{
    display: block;
}

@keyframes shadow-pulse {
    0%{
        box-shadow: 0 0 0 0 rgba(168, 139, 235, 0.8);
    }
    100%{
        box-shadow: 0 0 16px 24px rgba(57, 132, 182, 0);
    }
}