:root{
    --container-color: rgba(67, 141, 184, 0.6);
    --hoover-color: rgb(168, 139, 235, 0.6);
    --background-color: rgb(255, 246, 213);
    --text-color: rgb(255, 255, 255);
}

*{
    padding: 0;
    margin: 0;
}

ul{
    list-style: none;
}

body{
    background-image: linear-gradient(to bottom,rgb(95, 48, 150),white);
    background-size: 100vw 100vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
nav{
    line-height: 15px;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    background-color: var(--container-color);
}
form {
    font-family: 'Lobster', cursive;
    background: rgba(75, 124, 170, 0.4);
    width: 450px;
    margin: auto;
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 10px;
}
input, textarea{
    font-family: 'Lobster', cursive;
    margin-top: 10px;
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    border: none;
    border-radius: 10px;
}
input:hover{
    transform: translateY(-3px);
    animation: shadow-pulse 1000ms 1;
}
textarea:hover{
    font-family: 'Lobster', cursive;
    transform: translateY(-3px);
    animation: shadow-pulse 1000ms 1;
}
textarea{
    min-height: 100px;
    max-height: 300px;
    min-width: 100%;
    max-width: 100%;
}
.Principales > li{
    float: left;
}

.BN-D{
    margin-left: auto;
}

.link{
    padding: 20px;
    color: var(--text-color);
    display: block;
}

.sub-link{
    display: none;
    position: absolute;
}

.subL{
    padding: 15px;
    color: var(--text-color);
    background-color: var(--container-color);
    width: 112px;
}

.subL:hover{
    cursor: pointer;
    background-color: var(--hoover-color);
    color: white;
    animation: shadow-pulse 1200ms 1;
}

.link:hover{
    cursor: pointer;
    background-color: var(--hoover-color);
    color: white;
    animation: shadow-pulse 1200ms 1;
}

.link:hover ~ .sub-link{
    display: block;
    cursor: pointer;
}

.sub-link:hover{
    display: block;
    cursor: pointer;
}
.ino{
    background: url(../img/conocenos.jpg);
    background-size: 100vw 50vw;
    padding-top: 200px;
    padding-bottom: 200px;
    padding-left: 10px;
    display: flex;
    border-radius: 10px;
}
i{
    transition: .3s ease;
}
#hip{
    animation: raibonw 2500ms alternate-reverse infinite;
}
#burn{
    animation: raibonws 2500ms alternate-reverse infinite;
}
#facebook{
    border-radius: 10%;
    color: white;
}
#facebook:hover{
    cursor: pointer;
    color: rgb(75, 134, 211);
    transform: translateY(-6px);
    animation: shadow-pulsef 1000ms 1;
}
#instagram{
    border-radius: 10%;
    color: white
}
#instagram:hover{
    cursor: pointer;
    color: rgb(171, 107, 223);
    transform: translateY(-6px);
    animation: rotate 1000ms 1;
}
#correo{
    border-radius: 10%;
    color: white;
}
#correo:hover{
    cursor: pointer;
    color: rgb(221, 113, 113);
    transform: translateY(-6px);
    animation: shadow-pulsec 1000ms 1;
}
#twitter{
    border-radius: 10%;
    color:white
}
#twitter:hover{
    cursor: pointer;
    color: rgb(71, 181, 255);
    transform: translateY(-6px);
    animation: shadow-pulset 1000ms 1;
}
.redes-sociales{
    margin-top: 15px;
    display: flex;
    justify-content: center;
}
.redes-sociales ul li{
    display: inline-block;
    text-align: center;
    margin: 0 5px;
    width: 50px;
    height: 50px;
}
.nombres{
    margin-top: 5px;
    text-align: center;
    justify-content: center;
}
footer{
    margin-top: 50px;
    padding: 10px;
    background-image: linear-gradient(to top, rgb(0, 0, 0), rgb(138, 138, 138));
}
#nom{
    color: white;
    font-size: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.formulario{
    margin-top: 10px;
}
#con{
    color: white;
    text-align: center;
}
@keyframes shadow-pulse {
    0%{
        box-shadow: 0 0 0 0 rgba(203, 185, 245, 0.9);
    }
    100%{
        box-shadow: 0 0 16px 24px rgba(57, 132, 182, 0);
    }
}
@keyframes shadow-pulsef {
    0%{
        box-shadow: 0 0 0 0 rgba(71, 165, 219, 0.9);
    }
    100%{
        box-shadow: 0 0 16px 24px rgba(57, 132, 182, 0);
    }
}
@keyframes shadow-pulsec {
    0%{
        box-shadow: 0 0 0 0 rgba(219, 71, 71, 0.9);
    }
    100%{
        box-shadow: 0 0 16px 24px rgba(57, 132, 182, 0);
    }
}
@keyframes shadow-pulset {
    0%{
        box-shadow: 0 0 0 0 rgba(71, 181, 255, 0.9);
    }
    100%{
        box-shadow: 0 0 16px 24px rgba(57, 132, 182, 0);
    }
}
@keyframes raibonw {
    0%{
        color: rgb(176, 239, 255);
    }
    100%{
        color: rgb(255, 255, 255);
    }
}
@keyframes raibonws {
    0%{
        color: rgb(127, 63, 245);
    }
    100%{
        color: rgb(65, 137, 245);
    }
}
@keyframes rotate {
    0%{
        filter: hue-rotate(0deg);
        box-shadow: 0 0 0 0 rgba(171, 107, 223, 0.9);  
    }
    100%{
        filter: hue-rotate(360deg);
        box-shadow: 0 0 16px 24px rgba(57, 132, 182, 0);

    }
}