* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { 
    font-family: arial;
    background-color: rgb(9, 219, 219);
}

.form-tarjeta {
    width: 530px;
    height: 480px;
    background: rgba(75, 124, 170, 0.4);
    margin: auto;
    margin-top: 100px;
    box-shadow: 7px 13px 37px #000;
    padding: 20px 30px;
    border-top: 4px solid #017bab;
    color: white;
}

.form-tarjeta h5 {
    margin: 0;
    text-align: center;
    height: 40px;
    margin-bottom: 30px;
    border-bottom: 1px solid;
    font-size: 20px;
}

.control_0 {
    width: 30%;
    border: 1px solid #017bab;
    margin-bottom: 15px;
    padding: 11px 10px;
    background: #252323;
    font-size: 14px;
    font-weight: bold;
    color: white;
}

.control_1 {
    width: 70%;
    border: 1px solid #017bab;
    margin-bottom: 15px;
    padding: 11px 10px;
    background: #252323;
    font-size: 14px;
    font-weight: bold;
    color: white;
}

.control_2 {
    width: 85%;
    border: 1px solid #017bab;
    margin-bottom: 15px;
    padding: 11px 10px;
    background: #252323;
    font-size: 14px;
    font-weight: bold;
    color: white;
}

.control_3 {
    width: 20%;
    border: 1px solid #017bab;
    margin-bottom: 15px;
    padding: 11px 10px;
    background: #252323;
    font-size: 14px;
    font-weight: bold;
    color: white;
}

.control_4 {
    width: 20%;
    border: 1px solid #017bab;
    margin-bottom: 15px;
    padding: 11px 10px;
    background: #252323;
    font-size: 14px;
    font-weight: bold;
    color: white;
}


.buttons {
    width: 100%;
    height: 40px;
    background: #017bab;
    border: none;
    color: white;
    margin-bottom: 16px;
}

.form-tarjeta h4 {
    height: 40px;
    text-align: center;
    border-bottom: 1px solid;
    color: white;
}

.form-tarjeta a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.form-tarjeta a:hover {
    text-decoration: underline;
}